:root {
    --color: #e0d2c1;
  }

img, p, h1, h2, h3, figure, .divider{
    width: 100%;
	max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

img {
    display :block;
    padding: 15px 8px;
}

p{
    font-size: 18px;
    line-height: 1.4;
    font-family: "Avenir"
}

h1, h2{
    font-family: "Avenir"
}



.divider {
    border: none; /* Removes the default border */
    border-top: 2px dashed #474C35; /* Sets a 2px dashed line, with a color of your choice */
    margin: 20px auto; /* Adds space above and below the line */
}



body, html {
margin: 0;
padding: 0;
height: 100%;
overflow-x: hidden;
background-color: var(--color);
}
  
.parallax-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*  this is where the magic happens:  */
  background-attachment: fixed;

  background-image: url('images/cow.jpg');
  background-position: center;
  background-size: cover;
  color: white;
  row-gap: 4rem;

  text-align: center;

}

.parallax-container h1 {
    font-size: 60px;
    position: relative;
    top: -80px; 
}

.buffer {
    width: 100%;
    min-height: 30vh;
    background-color: var(--color);
  }
  
  a:link {
    color: #474C35;
    background-color: transparent;
    text-decoration: none;
  }
  